/* Dark theme styles */
body {
  background-color: #121212;
  color: #f1f1f1;
}

/* Subscribe button styles */
.subscribe-btn {
  background-color: #ff4081;
  padding: 10px 20px;
  color: white;
  border: none;
}
